<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <experienceAnalytics>

      <reduce>
        <dimensions>
          <dimension id="{008BD4FD-580A-41BE-848C-A6B49C54F44C}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.Support.159763"/>
        </dimensions>
      </reduce>

      <aggregation>
        <dimensions>
          <dimension id="{008BD4FD-580A-41BE-848C-A6B49C54F44C}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.Support.159763"/>
        </dimensions>
      </aggregation>

      <api>
        <dimensions>
          <dimension type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.Support.159763">
            <transformer type="Sitecore.EmailCampaign.Cm.UI.DimensionKeyTransformers.ByDeviceTransformer, Sitecore.EmailCampaign.Cm.UI"/>
          </dimension>
        </dimensions>
      </api>
      
    </experienceAnalytics>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly id="Sitecore.Support.159763">/bin/Sitecore.Support.159763.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>

  </sitecore>
</configuration>